---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@fontsource/sono";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} client:load />
    <main class="bg-grid">
      <section>
        <div>
          <h1>Welcome</h1>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
